

<%-include('./partials/header')%>
<%-include('./partials/navbar')%>

        <main>
            <h1>Error Message</h1>
            <div class="alert alert-danger" role="alert">
                <%=err%> 
              </div>
        </main>
       
        <%-include('./partials/footer.ejs')%>